html,
body {
    display: grid;
    grid-template: repeat(3, auto) auto;
    grid-template-areas: 
        "head"
        "main"
        "footer";
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
}

/* Styles for header */
header {
    padding: 12px 24px;
    text-align: center;
}

main {
    display: block;
    grid-area: main;
    padding: 12px 24px;
}

footer {
    grid-area: footer;
    padding: 12px 24px;
    margin-bottom: 55px;
}

#navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: white;
    display: flex;
    overflow-x: auto;
}
#navbar img {
    display: none;
}
.nav_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 68px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: grey;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.nav_link:hover {
    background-color: lightgray;
}

.nav_link:active {
    color: #009578;
}

.nav_icon {
    font-size: 18px;
}

/* Styles for project section */
.container {
    width: 90%;
    margin: 50px auto;
}

.heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.card {
    width: 320px;
    background: lightgreen;
    border: 1px solid black;
    margin: 20px;
    transition: 0.2s;
}

.card-header {
    text-align: center;
    padding: 50px 10px;
    background: linear-gradient(to right, grey,lightblue);
}

.card-body {
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
}
.card:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 20px 4rem rgba(0, 0, 0, 0.5);
}

.card-button {
    display: block;
    color: gray;
    text-align: center;
    background: linear-gradient(to right, grey,lightblue);
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
    cursor: pointer;
}

.card-button span {
    margin-left: 10px;
    transition: 0.2s;
}


.card-button:hover,
.card-button:active {
    background-color: indigo;
}

.card-button:hover span,
.card-button:active span {
    margin-left: 1.5rem;
}

@media (min-width:600px) {
    header, main, footer {
        margin: 120px;
    }

    #navbar {
        display: block;
        height: 100%;
        width: 120px;
        background-color: #fff;
        overflow: none;
    }

    #navbar img {
        display: block;
        width: 100%;
        background-color: lightgray;
    }
    .nav_link {
        padding: 12px 24px;
        height: 70px;
    }


    #navbar .nav_icon {
        font-size: 45px;
    }

    .nav_text {
        margin: 10px 0;
    }

}