html,
body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
nav img {
    position: relative;
    width: 40px;
}
.sidebar {
	height: 100%;
	width: 200px;
	background-color: #fff;
	position: fixed!important;
	z-index: 1;
	overflow: auto;
    float: left;
}

main {
    padding: 12px 200px;
    
}

@media (max-width:1205) {
    
}

@media (max-width:600px) {
    .sidebar {
        display: none;
    }
    .mobileNavbar {
        display: block;
        width: 100%;
        position: fixed;
        background-color: #ffff;
        text-align: center;
    }
    .mobileNavbar {
        display: none;
    }
    .mobileNavbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: relative;
        display: flex;
        justify-content: space-evenly;
    }
    
    .mobileNavbar ul li {
        flex-basis: 20%;  /* 160 / 800 x 100 */
    }
    .mobileNavbar ul li a {
        display: block;
        text-align: center;
        padding: 1em 0;
        text-decoration: none;
        font-weight: bold;
    }
    .bar-item button {
        justify-content: space-between;
    }
}