:root {
    --page-background-color: #052339;
    --page-header-color: #fba342;
    --page-text-color: #959595;
}

html,
body {
    display: block;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
}

/* Styles for header */
header {
    padding: 12px 24px;
    text-align: center;
}

/* Styles for main */

main {
    display: block;
    padding: 12px 24px;
}

/* Styles for about section */
#home {
    text-align: center;
    padding-bottom: 32px;
}

#home-header {
    font-size: 64px;
}

/* Styles for footer */
footer {
    padding: 12px 24px;
    margin-bottom: 55px;
}

/* Styles for small screen navbar */
#navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: white;
    display: flex;
    overflow-x: auto;
}
#navbar img {
    display: none;
}
.nav_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 68px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: grey;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.nav_link:hover {
    background-color: lightgray;
}

.nav_link:active {
    color: #009578;
}

.nav_icon {
    font-size: 18px;
}

/* Styles for project section */
.container {
    width: 100%;  
}

.heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.card {
    width: 300px;
    max-width: 320px;
    min-width: none;
    background: lightgreen;
    border: 1px solid black;
    margin: 2px;
    margin-top: 10px;
    transition: 0.2s;
}

.card-header {
    text-align: center;
    padding: 25px 10px;
    background: linear-gradient(to right, grey,lightblue);
}

.card-body {
    padding: 10px 10px;
    text-align: center;
    font-size: 18px;
}
.card:in-range {
    transform: translateY(-0.5%);
    box-shadow: 0 20px 4rem rgba(0, 0, 0, 0.5);
}

.card-button {
    display: block;
    color: gray;
    text-align: center;
    background: linear-gradient(to right, grey,lightblue);
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
    cursor: pointer;
}

.card-button span {
    margin-left: 10px;
    transition: 0.2s;
}

/* Styles for contact me section */
#contact hr {
    width: 200px;
    margin-left: 0px;
}

.contact-input input {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
}
*, *:before, *:after {
    box-sizing: inherit;
  }

  .padding-64 {
      padding-top: 64px;
      padding-bottom: 64px;
  }

  .background-color {
      background-color: var(--page-background-color);
  }

  .header-color {
      color: var(--page-header-color);
  }

  .text-color {
      color: var(--page-text-color);
  }
/* Syles for wide screens */
@media (min-width:600px) {
    #main {
        margin-left: 120px;
        padding: 12px 24px;
        transition: margin-left .4s;
    }

    header, main, footer {
        max-width: 980px;
        margin-left: auto;
        margin-right: auto;
    }

    #navbar {
        display: block;
        position: fixed;
        height: 100%;
        width: 120px;
        background-color: #fff;
        overflow: none;
        overflow-y: auto;
    }

    #navbar img {
        display: block;
        width: 100%;
        background-color: lightgray;
    }
    .nav_link {
        padding: 12px 24px;
        height: 70px;
    }


    #navbar .nav_icon {
        font-size: 45px;
    }

    .nav_text {
        margin: 10px 0;
    }

    .card:hover {
        transform: translateY(-0.5%);
        box-shadow: 0 20px 4rem rgba(0, 0, 0, 0.5);
    }

    .card-button:hover,
    .card-button:active {
        background-color: indigo;
    }

    .card-button:hover span,
    .card-button:active span {
        margin-left: 1.5rem;
    }

}